<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="justeat-restaurant-list.html">
<link rel="import" href="justeat-geo-postcode.html">

<dom-module id="justeat-recruitment-app">
    <template>
        <style>
            header {
                background: url("http://dy3erx8o0a6nh.cloudfront.net/images/je-homepage-mobile.jpg") no-repeat center center;
                background-size: cover;
                padding: 20px 20px 80px;
            }

            img.logo-img {
                clear: right;
                margin-bottom: 70px;
            }

            #search {
                margin: 0 auto;
                max-width: 400px;
                --paper-input-container-color: #ddd;
                --paper-input-container-focus-color: #fff;
                --paper-input-container-input-color: #fff;
            }

            .loading {
                text-align: center;
            }

            .error {

                margin: 10px 0px;
                color: #a94442;
                background-color: #f2dede;
                padding: 15px;

            }

            .results {
                max-width: 700px;
                margin: 0px auto;
                padding: 10px;
            }
        </style>

        <justeat-geo-postcode detected-post-code="{{outCode}}"></justeat-geo-postcode>

        <iron-ajax auto="[[_canLoadRequest(config, outCode)]]"
                   url="[[config.api.endpoint]]/restaurants"
                   params="[[requestParams]]"
                   headers="[[requestHeaders]]"
                   handle-as="json"
                   loading="{{isLoadingRestaurants}}"
                   last-error="{{errorResponse}}"
                   last-response="{{restaurantsCollection}}"
                   debounce-duration="20"></iron-ajax>

        <header>
            <img class="logo-img" alt="Order Takeaway from 20,000+ Restaurants | JUST EAT" src="https://dy3erx8o0a6nh.cloudfront.net/images/je-logo-whiteout-retina.png" width="124" height="34">

            <paper-input id="search" label="Please enter your post code" value="{{outCode}}"></paper-input>
        </header>

        <section class="results">
            <template is="dom-if" if="[[isLoadingRestaurants]]">
                <div class="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
            </template>

            <template is="dom-if" if="[[!isLoadingRestaurants]]">
                <template is="dom-if" if="[[errorResponse]]">
                    <div class="error">
                        Error: There has been an issue with your request.
                    </div>
                </template>

                <template is="dom-if" if="[[!errorResponse]]">
                    <justeat-restaurant-list restaurants-collection="[[restaurantsCollection]]"></justeat-restaurant-list>
                </template>
            </template>
        </section>
    </template>

    <script>
        Polymer({
            is: 'justeat-recruitment-app',

            properties: {
                outCode: {
                    type: String,
                },
                config: {
                    type: Object,
                },
                requestParams: {
                    type: Object,
                    computed: '_computeParams(outCode)'
                },
                requestHeaders: {
                    type: Object,
                    computed: '_computeHeaders(config)'
                }
            },

            _computeParams: function(outCode) {
                return {
                    q: outCode
                };
            },

            _computeHeaders: function(config) {
                return {
                    Authorization: config.api.authorization,
                    'Accept-Language': config.api.language,
                    'Accept-Tenant': config.api.tenant
                };
            },

            _canLoadRequest: function(config, outCode) {
                return config && outCode;
            },

            attached: function() {

            }


        });
    </script>
</dom-module>
