<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="justeat-star-rating">
    <template>
        <style>
            :host {
                display: inline-block;
                color: #fdc751;
                font-size: 13px;
            }
        </style>

        <template is="dom-repeat" items="[[_starIcons(value,max)]]">
            <i class$="fa [[item]]"></i>
        </template>

    </template>

    <script>
        Polymer({
            is: 'justeat-star-rating',

            properties: {
                value: {
                    type: Number
                },
                max: {
                    type: Number,
                    value: 6
                }
            },

            _starIcons: function(value, max) {

                var stars = [];

                for(var  i = 0; i < this._fullStars(value, max); i++) {
                    stars.push('fa-star');
                }

                if(value != Math.floor(value)) {
                    stars.push('fa-star-half-o');
                    i++;
                }

                for(; i < max; i++) {
                    stars.push('fa-star-o');
                }

                return stars;
            },

            _fullStars: function(value, max) {
                return Math.floor(Math.min(value, max));
            }
        });
    </script>
</dom-module>
