<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="justeat-geo-postcode">
    <template>
        <iron-ajax auto="[[latLong]]"
                   url="https://maps.googleapis.com/maps/api/geocode/json"
                   params="[[_getParams(latLong)]]"
                   handle-as="json"
                   last-response="{{postCodeResponse}}"></iron-ajax>
    </template>

    <script>
        Polymer({
            is: 'justeat-geo-postcode',

            properties: {
                detectedPostCode: {
                    type: String,
                    notify: true,
                    computed: '_computePostcode(postCodeResponse)'
                },
                latLong: {
                    type: Object,
                }
            },

            attached: function() {
                if ("geolocation" in navigator) {
                    //Todo: Provide these as element properties?
                    var geoOptions = {
                        maximumAge: 3 * 60 * 1000,
                        timeout: 10 * 1000
                    };

                    navigator.geolocation.getCurrentPosition(function (position) {
                        this.set('latLong', position.coords)
                    }.bind(this), function(error) {
                        console.log('Error occurred obtaining GeoLocation infromation. Error code: ' + error.code);
                        // error.code can be:
                        //   0: unknown error
                        //   1: permission denied
                        //   2: position unavailable (error response from location provider)
                        //   3: timed out
                    }, geoOptions);
                }
            },

            _getParams: function(latLong) {
                return {
                    latlng: latLong.latitude + ',' + latLong.longitude
                }
            },

            _computePostcode: function (postCodeResponse) {
                for(var i = 0; i < postCodeResponse.results.length; i++) {
                    for(var j = 0; j < postCodeResponse.results[i].address_components.length; j++) {
                        var component = postCodeResponse.results[i].address_components[j];

                        for(var k = 0; k < component.types.length; k++) {
                            var type = component.types[k];
                            if(type == 'postal_code_prefix' || type == 'postal_code') {
                                return component.short_name;
                            }
                        }
                    }
                }
            }
        });
    </script>
</dom-module>
