<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="justeat-badge.html">
<link rel="import" href="justeat-star-rating.html">

<dom-module id="justeat-restaurant-card">
    <template>
        <style>
            :host {
                padding: 10px;
                display: block;
            }

            h2 {
                font-size: 15px;
                margin-top: 0;
                margin-bottom: 3px;
            }

            .container {
                display: flex;
            }

            img.logo {
                display: block;
                width: 75px;
                height: 75px;
            }

            .details {
                width: 100%;
                padding: 0px 10px;
                font-size: 12px;
            }

            .details div {
                margin-bottom: 3px;
            }

            .new {
                background-color: #d5ee1f;
            }
            
            .deal {
                color: #fff;
                background-color: #ce0b10;
            }

            .prices span {
                display: inline-block;
                margin-right: 10px;
            }

            .offline {
                color: #ce0b10;
            }
        </style>
        <div class="container">
            <img class="logo" src$="[[logoUrl]]" alt="[[restaurant.Name]]"/>
            <div class="details">
                <h2>[[restaurant.Name]]</h2>

                <template is="dom-if" if="[[!restaurant.IsTemporarilyOffline]]">
                    <div class="badges">
                        <template is="dom-if" if="[[restaurant.IsNew]]">
                            <justeat-badge class="new">New</justeat-badge>
                        </template>
                        <template is="dom-if" if="[[restaurant.IsSponsored]]">
                            <justeat-badge>Sponsored</justeat-badge>
                        </template>
                        <template is="dom-repeat" items="[[restaurant.Deals]]">
                            <justeat-badge class="deal">[[item.DiscountPercent]]% off</justeat-badge>
                        </template>
                    </div>

                    <div class="ratings">
                        <justeat-star-rating value="[[restaurant.RatingStars]]" max="6"></justeat-star-rating> ([[restaurant.NumberOfRatings]])
                    </div>
                </template>
                <div class="types">
                    [[types]]
                </div>

                <div class="address">
                    [[restaurant.Address]]
                </div>

                <template is="dom-if" if="[[!restaurant.IsTemporarilyOffline]]">
                    <div class="prices">
                        <span>Delivery Cost: [[deliveryCost]]</span> <span>Minimum Amount:  &pound;[[restaurant.MinimumDeliveryValue]]</span>
                    </div>
                </template>

                <template is="dom-if" if="[[restaurant.IsTemporarilyOffline]]">
                    <div class="offline">
                        Currently offline
                    </div>
                </template>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'justeat-restaurant-card',

            properties: {
                restaurant: {
                    type: Object,
                },
                logoUrl: {
                    type: String,
                    computed: '_computeLogoUrl(restaurant)'
                },
                types: {
                    type: String,
                    computed: '_computeTypes(restaurant)'
                },
                deliveryCost: {
                    type: String,
                    computed: '_computeCostString(restaurant.DeliveryCost)'
                }
            },

            _computeCostString: function(DeliveryCost) {
                return DeliveryCost == 0 ? 'FREE' : '£' + DeliveryCost;
            },

            _computeLogoUrl: function(restaurant) {
                if(restaurant.IsTemporarilyOffline) {
                    return 'https://d30v2pzvrfyzpo.cloudfront.net/images/badge_back_soon.png';
                }

                return restaurant.Logo[0].StandardResolutionURL;
            },

            _computeTypes: function(restaurant) {
                var types = [];
                restaurant.CuisineTypes.forEach(function(type){
                    types.push(type.Name);
                }.bind(this));

                return types.join(', ');
            }
        });
    </script>
</dom-module>
