<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="justeat-restaurant-card.html">


<dom-module id="justeat-restaurant-list">
    <template>
        <style>
            :host {
                display: block;
            }

            justeat-restaurant-card, .count {
                border-bottom: 1px solid #f0ede8;
            }

            .restaurants, .noresults, .search {
                display: block;
                background: #fff;
                margin: 0 0 20px;
            }

            .restaurants, .noresults {
                box-shadow: 1px 1px 4px rgba(125, 125, 125, 0.23);
            }

            .search {
                box-sizing: border-box;
                border: 1px solid #ccc;
                padding: 10px;
            }

            .search input {
                font-size: 20px;
                border: 0;
                padding: 5px 10px 5px 40px;
                width: 100%;
                box-sizing: border-box;
                outline: none;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cg%3E%0A%20%20%3Ctitle%3ELayer%201%3C%2Ftitle%3E%0A%20%20%3Cpath%20fill%3D%22%23cccccc%22%20id%3D%22svg_1%22%20d%3D%22m1216%2C832q0%2C-185%20-131.5%2C-316.5t-316.5%2C-131.5t-316.5%2C131.5t-131.5%2C316.5t131.5%2C316.5t316.5%2C131.5t316.5%2C-131.5t131.5%2C-316.5zm512%2C832q0%2C52%20-38%2C90t-90%2C38q-54%2C0%20-90%2C-38l-343%2C-342q-179%2C124%20-399%2C124q-143%2C0%20-273.5%2C-55.5t-225%2C-150t-150%2C-225t-55.5%2C-273.5t55.5%2C-273.5t150%2C-225t225%2C-150t273.5%2C-55.5t273.5%2C55.5t225%2C150t150%2C225t55.5%2C273.5q0%2C220%20-124%2C399l343%2C343q37%2C37%2037%2C90z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 10px;
            }

            .noresults,
            .count {
                font-size: 16px;
                font-weight: 500;
                padding: 20px;
            }
        </style>


        <template is="dom-if" if="[[!restaurantsCollection.Restaurants.length]]">
            <div class="noresults">
                Sorry, We haven't found any takeaways in your area!
            </div>
        </template>

        <template is="dom-if" if="[[restaurantsCollection.Restaurants.length]]">
            <div class="search">
                <input type="search" placeholder="Search for a restaurant" value="{{filterText::input}}" />
            </div>

            <div class="restaurants">
                <div class="count">
                    [[countTotal(restaurantsCollection.Restaurants)]] takeaway restaurants in [[restaurantsCollection.ShortResultText]] [[restaurantsCollection.Area]].
                </div>
                <template is="dom-repeat"
                          items="[[restaurantsCollection.Restaurants]]"
                          initial-count="20"
                          target-framerate="30">
                    <template is="dom-if" if="[[isOpenNowFilter(item, filterText)]]">
                        <justeat-restaurant-card restaurant="[[item]]"></justeat-restaurant-card>
                    </template>
                </template>
            </div>

            <div class="restaurants">
                <div class="count">
                   [[countOpenLater(restaurantsCollection.Restaurants)]] takeaways opening later
                </div>
                <template is="dom-repeat"
                          items="[[restaurantsCollection.Restaurants]]"
                          initial-count="10">
                    <template is="dom-if" if="[[isOpenLaterFilter(item, filterText)]]">
                        <justeat-restaurant-card restaurant="[[item]]"></justeat-restaurant-card>
                    </template>
                </template>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'justeat-restaurant-list',

            properties: {
                restaurantsCollection: {
                    type: Object,
                },
                filterText: {
                    type: String,
                    value: ''
                }
            },

            searchFilter: function(item, filterText) {
                return (item.Name == undefined && filterText == undefined)
                        || filterText == undefined
                        || filterText.length == 0
                        || (filterText.length
                            && item.Name.length
                            && item.Name.toLowerCase().indexOf(filterText.toLowerCase()) > -1);
                ;
            },

            isOpenNowFilter: function(item, filterText) {
                return item.IsOpenNow && this.searchFilter(item, filterText);
            },
            isOpenLaterFilter:  function(item, filterText) {
                return !item.IsOpenNow && this.searchFilter(item, filterText);
            },

            countTotal: function (restaurants) {
                return restaurants ? restaurants.length : 0;
            },

            countOpenLater: function (restaurants) {
                if(!restaurants) return 0;

                var count = 0;

                restaurants.forEach(function (restaurant) {
                    if (!restaurant.IsOpenNow && !restaurant.IsTemporarilyOffline)  {
                        count++;
                    }
                });

                return count;
            }
        });
    </script>
</dom-module>
